# Java
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Docker
postgres_data/

# Dataset (optional if too large)
search_queries.csv